  <%= form_for(@comment) do |f| %>
  <%=recipe_id_field(@comment)%>
   <label>Title:</label><br>
  <%= f.text_field :title %><br>
  <label>Comment </label><br>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>