<div id= "ajax_form">
<h3><%= @comment.recipe.title %> </h3>
 <%= form_for @comment, remote: true do |f| %>
 <label>Title:</label><br>
 <%= f.hidden_field :recipe_id %>
 <%= f.text_field :title %><br>
 <label>Comment </label><br>
 <%= f.text_area :content %><br>
 <%= f.submit %>
 <% end %>
</div>