
  <h3> Recipe: </h3>
  <%=form_for @recipe do |f|%>
  <%= render 'layouts/form_errors', form: @recipe %>

  <%=f.label :title, "Title"%><br>
  <%=f.text_field :title%><br>

  <%=f.label :category, "Category"%><br>
  <%=f.text_field :category%><br>

  <h3>Ingredients:</h3>
    <%= f.fields_for :recipe_ingredients, @ingredients do |recipe_ingredient| %>
      <%= recipe_ingredient.collection_select :ingredient_id, Ingredient.order('name ASC').all, :id, :name, include_blank: 'Select Ingredient' %>
      Amount: <%= recipe_ingredient.text_field :amount %>

      <%= recipe_ingredient.fields_for :ingredient, recipe.ingredients.build do |ingredient| %>
      -- Add new: <%= ingredient.text_field :name %><br>
      <% end %>
    <% end %>
  <%=f.label :directions, "Directions"%><br>
  <%=f.text_field :directions%><br>

  <%=f.label :cook_time, "Cook time (in minutes)"%><br>
  <%=f.number_field :cook_time%><br>
  <%=f.submit%>
  <%end%>

