  <%=link_to "All Recipes", recipes_path%>

<h3> Recipe </h3>
<%=form_for @recipe do |f|%>
  <%=f.label :title, "Title"%><br>
  <%=f.text_field :title%><br>

  <%=f.label :category, "Category"%><br>
  <%=f.text_field :category%><br>
  <%=f.label :recipe_ingredient, "Ingredients"%><br>

 <%= f.fields_for :recipe_ingredient do |recipe_ingredients|%>
      Name: <%= recipe_ingredients.text_field :name %>

      Amount: <%= recipe_ingredients.text_field :amount %>
  <%end%>

<br>
  <%=f.label :directions, "Directions"%><br>
  <%=f.text_field :directions%><br>

  <%=f.label :cook_time, "Cook time (in minutes)"%><br>
  <%=f.number_field :cook_time%><br>

  <%=f.submit%>
<%end%>

