<% if !@recipe.nil? %>
<h4><%="#{@recipe.title}"%></h4>
<h5>Category-  <%="#{@recipe.category}"%></h5>
<%= render 'ingredients/show_ingredients', recipe: @recipe %>
<h5>Directions-  <%="#{@recipe.directions}"%></h5> 
<h5>Cook Time-  <%="#{@recipe.cook_time}"%> minutes </h5> 
<%= link_to  "New Comment |", new_recipe_comment_path(@recipe)%>
<%if logged_in? %>
<%=link_to "All Comments", comments_path(@recipe)%><br>
<%=link_to "Edit |", edit_recipe_path(@recipe)%>
<%=link_to "Delete", recipe_path(@recipe), :confirm => "Are you sure?", :method => :delete%>
<%end%>
<%= render 'comments/show', comments: @recipe.comments if @recipe.comments %>

<%end%>









