<h4><%="#{@recipe.title}"%></h4>
<h5>Category-  <%="#{@recipe.category}"%></h5>
<h5>Ingredients-  <%="#{@recipe.ingredients}"%></h5>
<h5>Directions-  <%="#{@recipe.directions}"%></h5> 
<h5>Cook Time-  <%="#{@recipe.cook_time}"%> minutes </h5> 

<%if @user%>
  <%=link_to "Edit", edit_recipe_path(@recipe)%>
<%else%>
  <%=form_tag ({controller: 'recipes', action: 'edit', method: 'post'}) do %>
    <%=hidden_field_tag 'recipe_id', params[:id]%>
    <%=submit_tag "Edit Recipe"%>
  <%end%>
  <%end%>

    <%=label :ingredient, "Ingredient"%><br>
  <%=text_field :ingredient%><br>
    <%if @user%>

  <%=link_to "Search", user_recipes_path(@recipe)%>
<%else%>
  <%=form_tag ({controller: 'recipes', action: 'search', method: 'post'}) do %>
    <%=hidden_field_tag 'ingredient', params[:ingredient]%>
    <%=submit_tag "Search Recipes"%>
  <%end%>
<%end%>