<h2>SignUp:</h2>

<%= form_for @user do |f| %>
  <%= render 'form', f: f %>

<%=f.submit "Create User"%>
<%end%>
<%=link_to("Login ", login_path)%><br>

<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>